body{
  padding: 0px;
  margin: 0px;
  text-align: center;
}


.container{
  position:absolute;

  background-color: #4d4d4d;

  border: 10px inset;
  border-radius:50px;
}

.myTable{

}

textarea{
  resize:none;
  background-color: #95c4ac;
  border-radius: 20px;
  border:2px solid;
  font-size: 40px;
  font-family: helvetica;


}


.butt{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #ded9d9;
  border: 5px inset;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  border-radius: 5px;

}
.butt3{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: red;
  border: 5px inset;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  border-radius: 5px;

}
.butt2{
  background-color: orange;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  border-radius: 5px;
}
.butt:hover{
  background-color: green;
}
.butt2:hover{
  background-color: red;
}

@font-face {
    font-family: Digital-7;
    src: url(digital-7.ttf);


  }

  h1{
    font-family: Digital-7;
  }
